<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Post</title>
  </head>
  <body>
    <style>
      main {
        font-family: sans-serif;
        background-color: #1573ff9e;
        border-radius: 15px;
      }
    </style>
    <%- include("partials/header.ejs") %>
    <main class="container mt-5 mb-5">
      <h3 class="text-center fw-bold">About Us</h3>
      <p class="text-center">
        aspernatur blanditiis. Necessitatibus blanditiis eligendi odio modi
        pariatur officiis, explicabo, recusandae nostrum minus quibusdam
        voluptas aspernatur quis! Velit et cupiditate voluptates quis. Qui sit
        mollitia sed, libero voluptatum accusantium. Ullam dolore aliquam quos
        rem aspernatur non quas cumque corporis laborum alias officia molestias
        animi minima voluptatem fugiat, vel perspiciatis, ipsum quod accusamus,
        quae aliquid nam quia ab? Neque eos expedita eius deleniti nam incidunt
        officia dolorum, ex, deserunt quisquam hic, impedit error debitis enim
        possimus porro repellat eligendi! Incidunt vitae, ea reiciendis animi
        error voluptas sit fugiat, omnis expedita dolores magni asperiores
        veritatis soluta ducimus, odit odio aliquid cupiditate maiores aperiam
        suscipit. Doloremque provident reiciendis nobis debitis aut veniam
        molestiae, tenetur delectus necessitatibus repudiandae nulla dolorem
        earum dolor, iure deserunt. Doloremque quis odit dolor, at consequuntur,
        minima voluptates dolore voluptate numquam recusandae, modi quam ex
        distinctio suscipit molestias maxime quo quas! Quam, molestiae nulla!
        Vitae, magnam sit. Molestias quibusdam natus delectus saepe mollitia
        atque tempore, alias voluptatum dicta, incidunt sit ipsam? Reprehenderit
        fugit possimus sint. Id odit esse ut numquam libero animi nostrum,
        architecto eveniet debitis, culpa asperiores sequi eos sapiente non
        voluptatum possimus voluptas doloremque aliquam similique cupiditate aut
        dolore impedit et aperiam. Repellendus, repudiandae ex sequi quisquam
        ipsa voluptatibus assumenda? Excepturi, vitae voluptas maiores saepe quo
        officiis distinctio! Sint iusto iste quam beatae, sunt possimus unde
        maiores, velit laudantium a corporis! Dicta natus aut commodi dolores
        cupiditate ad id repellendus, quasi assumenda ab, exercitationem sed
        repudiandae quis excepturi inventore quia! Iste soluta accusantium dolor
        nam quasi, molestias dolores fugit. Autem consequuntur alias quam
        exercitationem quas mollitia qui, nisi illum, neque ab fuga. Doloribus
        sapiente saepe reprehenderit! Esse nemo labore quibusdam officia, at
        laboriosam voluptates totam! Fuga provident quo voluptates ipsum.
      </p>
    </main>
    <%- include("partials/footer.ejs") %>
  </body>
</html>
